
    <div>
        <h1 class="">Accueil</h1>
        <p class=""> coucou
        </p>

        <ul class="">
            <li>
                <a href="{{ path('app_clients') }}" class="">
                    clients
                </a>
            </li>
            <li>
                <a href="#">
                    comptes
                </a>
            </li>
            <li>
                <a href="#">
                    payments
                </a>
            </li>
        </ul>
    </div>

